@import "../../../styles/variables.module.css";

.container {
    width: 70vw;
    height: 120px;
    display: flex;
    align-items: top;
    justify-content: center;
    align-items: baseline;
    text-align: justify;
}

.container h3 {
    color: var(--guess-what-color);
    letter-spacing: 2px;
    padding-right: 30px;
}

.container h4 {
    color: var(--third-text-color);
}

/* Screens 768px */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 50vw;
        height: 120px;
        display: flex;
        align-items: top;
        justify-content: center;
        align-items: baseline;
    }
}

/* Screens 576px */

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 50vw;
        height: 120px;
        display: flex;
        align-items: top;
        justify-content: center;
        align-items: baseline;
    }

    .container h3 {
        color: var(--guess-what-color);
        letter-spacing: 2px;
        padding-right: 10px;
    }
}

/* Screens 320px */

@media screen and (min-width: 320px) and (max-width: 575px) {
    .container {
        max-width: 50vw;
        height: 120px;
        display: flex;
        align-items: top;
        justify-content: center;
        align-items: baseline;
        text-align: left;
    }

    .container h3 {
        color: var(--guess-what-color);
        letter-spacing: 1px;
        padding-right: 10px;
        font-size: 1rem;
    }

    .container h4 {
        color: var(--third-text-color);
        font-size: 0.8rem;
    }
}